<!DOCTYPE html>
<html ng-app="customerManager">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Customers With Angular</title>

	<!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/customer.css">
</head>

<body ng-controller="ManagerController as manager">
	<div class="container">

		<!--Header-->
		<div class="row">
	    	<div class="header col-md-10">
	        	<ul class="nav nav-pills pull-right">
	          		<li class="active"><a href="#">Home</a></li>
	          		<li><a href="#">Contact</a></li>
	        	</ul>
	        	<h3 class="text-muted">Customer Manager</h3>
	      	</div>
	    </div><!--END Header-->

    	<!--CustomerApp-->
	    <div class="row">

	  		<div ng-controller="CustomerController as customerCtrl" id="customer-container" >

	  		<!--FORM-->
	  			<form ng-submit="customerCtrl.addCustomer()" name="customerForm" class="form-horizontal col-md-8" role="form">
	  			<!--name-->
	  				<div class="form-group">
    					<label for="" class="col-sm-2 control-label">Name</label>
    					<div class="col-sm-6">
      						<input ng-model="customerCtrl.customer.name" type="text" class="form-control" id="nameInp-custfrm" name="customerName" >
    					</div>
  					</div>

  				<!--email-->
  					<div class="form-group">
    					<label for="" class="col-sm-2 control-label">Email</label>
    					<div class="col-sm-6">
      						<input ng-model="customerCtrl.customer.email" type="text" class="form-control" id="emailInp-custfrm" name="email" >
    					</div>
  					</div>

  				<!--phone-->
  					<div class="form-group">
    					<label for="" class="col-sm-2 control-label">Phone</label>
    					<div class="col-sm-6">
      						<input ng-model="customerCtrl.customer.phone" type="text" class="form-control" id="phoneInp-custfrm" name="phone">
    					</div>
  					</div>

  				<!--street-->
  					<div class="form-group">
    					<label for="" class="col-sm-2 control-label">Street</label>
    					<div class="col-sm-6">
      						<input ng-model="customerCtrl.customer.street" type="text" class="form-control" id="streetInp-custfrm" name="street">
    					</div>
  					</div>

  				<!--city-->
  					<div class="form-group">
    					<label for="" class="col-sm-2 control-label">City</label>
    					<div class="col-sm-6">
      						<input ng-model="customerCtrl.customer.city"type="text" class="form-control" id="cityInp-custfrm" name="city" >
    					</div>
  					</div>

  				<!--state-->
  					<div class="form-group">
    					<label for="" class="col-sm-2 control-label">State</label>
    					<div class="col-sm-6">
    						<select ng-model="customerCtrl.customer.state" class="form-control" id="stateInp-custfrm"  >
	  							<option ng-repeat="state in manager.states" value="{{state.abbreviation}}">{{state.name}}</option>
	  						</select>
    					</div>
  					</div>

  				<!--zip code-->
  					<div class="form-group">
    					<label for="" class="col-sm-2 control-label">Zip Code</label>
    					<div class="col-sm-6">
      						<input ng-model="customerCtrl.customer.zip" type="text" class="form-control" id="zipInp-custfrm" name="zipCode" placeholder="">
    					</div>
  					</div>

  					<input type="submit" id="addBtn-custfrm" class="btn btn-primary " value="Add Customer" />
  					<button ng-click="customerCtrl.saveFromUpdate()" type="button" id="saveBtn-custfrm" class="btn btn-primary">Save</button>
	  			</form>
	  		<!--END form-->


	  			<!--List Customer-->
	  			<div id="list-cust-container" class="col-md-4 list-group" ng-repeat="customer in manager.customers">
		  			<div class="list-group-item">
					   <h4>
					   	{{customer.name}} 
					   </h4> 
					   <p id="customer-btns" class="pull-right">
							<button ng-click="customerCtrl.updateCustomer($index)" type="button" class="btn btn-primary btn-xs">Edit</button>
							<button ng-click="customerCtrl.deleteCustomer($index)" type="button" class="btn btn-primary btn-xs">Delete</button>
						</p>
					   <ul>
					   		<li>{{customer.email}} {{customerCtrl.customer.email}}</li>
					   		<li>{{customer.phone}}</li>
					   		<li>{{customer.street}} {{customer.city}}, {{customer.state}} {{customer.zip}}</li>
					   </ul>
					</div>
	  			</div>
	  		</div>
	  		
		</div><!--END CustomerApp-->


    </div><!--END Container-->


	<!--JavaScript-->
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/customer.js"></script>
</body>

</html>